@import '../main.scss';

table,
th,
td {
	border: 1px solid #ddd;
	background-color: white;
}
table {
	border-collapse: collapse;
}
td {
	text-align: center;
	width: 30px;
}
.groupName {
	text-align: left;
	width: 200px;
	padding-left: 5px;
}
.teamName {
	display: grid;
	grid-template-columns: 20px 50px calc(100% - 70px);
	width: 200px;
	height: 60px;
	//grid is also a table, so we have to reset the border
	border: none;
	border-bottom: 1px solid #ddd;
	img {
		width: 40px;
		align-self: center;
		justify-self: center;
	}
	p {
		padding: 5px;
		align-self: center;
		justify-self: start;
	}
	.index {
		justify-self: center;
	}
	&.lastIndex {
		//another consequence of grid border
		border: none;
	}
}
thead tr th {
	position: relative;
	.tooltip {
		visibility: hidden;
		width: 100px;
		color: white;
		background-color: black;
		border-radius: 8px;
		padding: 5px 10px;
		position: absolute;
		z-index: 1;
		bottom: 120%;
		right: -35px;
		&::after {
			content: ' ';
			position: absolute;
			top: 100%;
			left: 50%;
			margin-left: -5px;
			border-width: 5px;
			border-style: solid;
			border-color: black transparent transparent transparent;
		}
	}
	&:hover {
		.tooltip {
			visibility: visible;
		}
	}
}
