@import '../main.scss';

.Navbar{
  height: 10vh;
  @include Flexbox();
  background-color: $blue;

  nav{
    ul{
      @include Flexbox();
      list-style: none;
      gap: 15px;

      li{
        text-decoration: none;
        background-color: $light-blue;
        border-radius: 5px;
        padding: 5px 20px;
        transition: 0.3s ease;

        &:hover{
          background-color: $yellow;
          padding: 10px 20px;
        }
      }
    }
  }
}